@model AdmApp.Models.Propiedad

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Propiedad</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Inquilino.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Inquilino.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Locador.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Locador.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Calle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Calle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Altura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Altura)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
